:root {
   //--quizle-base-dark-color: #444545;
   --quizle-accent-light-color: #f3f1ff;
   --quizle-accent-transparent-color: #684cd8;
   --quizle-accent-pink-color: #FFC3FF;
   --quizle-accent-pink-color-text: #fb2dc9;
   --quizle-accent-pink-light-color: #ffe8ff;
   --quizle-accent-green-color: #c3f73a;
   --quizle-background-3: #f8f8f8;

   --section-padding-y: 70px;
   --section-padding-y-xl: 110px;
}