.section-video {
   padding-top: var(--section-padding-y);
   padding-bottom: var(--section-padding-y);

   & .circle-decor {
      @include mobile {
         rotate: 21deg;
      }
   }

   &__subtitle {
      max-width: 80%;

      @include tablet {
         max-width: 70%;
      }

      @include mobile {
         max-width: 100%;
      }
   }

   &__sticker-for-video {
      position: absolute;
      bottom: 20px;
      right: -25px;

      @include tablet-bottom {
         right: 15px;
      }

      @include mobile {
         bottom: 106%;
      }

      & .sticker {
         padding-block: 40px;
         padding-left: 12px;
      }
   }

   &__sticker-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 10px;
      font-size: 16px;
      line-height: .9;
      text-align: left;
      font-weight: 800;

      @include tablet-bottom {
         font-size: 12px;
      }

      svg {
         display: inline-block;
         width: 30px;
         height: 30px;
      }
   }

   &__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 75px;

      @include desktop-bottom {
         gap: 30px;
      }

      @include tablet {
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
         -ms-flex-direction: row;
         flex-direction: row;
      }
   }

   &__info-list {
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      gap: 25px;

      @include desktop-bottom {
         gap: 20px;
      }
   }

   &__info-item {
      position: relative;
      padding: 30px;
      border-radius: 8px;
      background-color: var(--quizle-background-3);
      max-width: 350px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;

      @include hover {
         opacity: 0.9;
         scale: 1.03;
      }

      @include desktop-bottom {
         max-width: 47%;
         padding: 20px;
      }

      @include mobile {
         max-width: 100%;
         padding: 25px 25px 25px 60px;
         -webkit-box-flex: 1;
         -ms-flex-positive: 1;
         flex-grow: 1;
      }

      &--big {
         position: relative;
         width: 100%;
         max-width: 500px;
         background-color: var(--quizle-primary-color);
         color: var(--quizle-primary-color-text);
         padding: 25px;

         @include tablet {
            display: none;
         }
      }

      p {
         margin: 0;
         font-size: 18px;
         line-height: 1.2;
      }
   }

   &__icon {
      position: absolute;
      bottom: 10px;
      right: 10px;

      @include desktop-bottom {
         bottom: -14px;
         right: -6px;
      }

      @include mobile {
         bottom: calc(50% - 22px);
         right: 91%;
      }
   }

   &__poster {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      background: url('../images/poster-video-xs.webp') no-repeat;
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 500px;
      position: relative;
      border-radius: 12px;

      @include tablet {
         width: 100%;
         background: url('../images/poster-video-xl.webp') no-repeat;
         height: 400px;
         background-position: center;
         background-size: contain;
      }

      @include mobile {
         background: url('../images/dist/poster-video-xs.png') no-repeat;
         height: 500px;
         background-position: center;
         background-size: contain;
      }
   }

   &__btn-play {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 3px solid #e9eaec;
      width: 130px;
      height: 130px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(var(--quizle-accent-transparent-color)), to(var(--quizle-primary-color)));
      background-image: -o-linear-gradient(var(--quizle-accent-transparent-color), var(--quizle-primary-color));
      background-image: linear-gradient(var(--quizle-accent-transparent-color), var(--quizle-primary-color));
      -webkit-box-shadow: 0 0 30px rgba(235, 235, 235, 0.5),
         inset 0 0 10px rgb(45, 6, 91, 90%);
      box-shadow: 0 0 30px rgba(235, 235, 235, 0.5),
         inset 0 0 10px rgb(45, 6, 91, 90%);
      cursor: pointer;


      &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         -webkit-transform-origin: 0 0;
         -ms-transform-origin: 0 0;
         transform-origin: 0 0;
         border-radius: 50%;
         border: 4px solid #e9eaec;
         width: 90px;
         height: 90px;
         background-color: #fff;
         -webkit-box-shadow: 0 0 30px rgba(86, 73, 105, 0.5);
         box-shadow: 0 0 30px rgba(86, 73, 105, 0.5);
         -webkit-animation: scale-btn-play-quizle 1s linear infinite alternate;
         animation: scale-btn-play-quizle 1s linear infinite alternate;
      }

      &::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         -webkit-transform: translate(-37%, -50%);
         -ms-transform: translate(-37%, -50%);
         transform: translate(-37%, -50%);
         width: 0;
         height: 0;
         border-top: 20px solid transparent;
         border-left: 30px solid var(--quizle-accent-green-color);
         border-bottom: 20px solid transparent;
         -webkit-animation: scale-btn-play-quizle 1s linear infinite alternate;
         animation: scale-btn-play-quizle 1s linear infinite alternate;
      }
   }

   &__video {
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: 1000;
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: rgba(17, 17, 17, 0.7);

      &.video-show {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
      }

      video {
         position: relative;
         max-width: 75%;
         outline: none;
         border-radius: 12px;

         @include mobile {
            max-width: 90%;
         }
      }
   }

   &__btn-close {
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 20px;
      width: 20px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 30px;
      top: 30px;
   }
}

@-webkit-keyframes scale-btn-play-quizle {
   0% {
      scale: 1;
   }

   100% {
      scale: 1.07;
   }
}

@keyframes scale-btn-play-quizle {
   0% {
      scale: 1;
   }

   100% {
      scale: 1.07;
   }
}

@-webkit-keyframes pulse-quizle {
   0% {
      opacity: 0;
      scale: 0.5;
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      scale: 1.1;
   }
}

@keyframes pulse-quizle {
   0% {
      opacity: 0;
      scale: 0.5;
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      scale: 1.1;
   }
}